.none{
  display: none;
}


//filter-level-0

.shanbay-filter-prefixer-0{
  .top-banner-ad-container,.ad-slot{
    @extend .none
  }
  #google_center_div{
    @extend .none
  }
  #popular-trails__mpu{
    @extend .none
  }
  #adContent,#bannerandheader{
    @extend .none
  }
}

//filter-level-1

.shanbay-filter-prefixer-1{
  .selection-sharing,.element-rich-link,.ad-slot,.content__section-label,.site-message,.content__meta-container,.element-rich-link,.content__secondary-column,.contributions__epic,.content-footer,.l-footer,.submeta{
    @extend .none
  }
}


.pagination-i{
  position: fixed;
  width: 60px;
  background: #00bfff;
  right: 5vw;
  bottom: 5vh;
  overflow: auto;
  max-height: 200px;
  .container{
    color: #fff;
    p{
      margin: 0;
      text-align: center;
    }
    a{
      text-align: center;
      display: inline-block;
      width: 100%;
      color: #fff;
      text-decoration: none;
      line-height: 20px;
    }
  }
}


@media screen and (max-width: 740px) {
  .pagination-i{
    background: rgba(0,0,0,0.5);
  }
}

.back-top{
  background: #00caab;
  text-align: center;
  a{
    margin: 0;
    line-height: 20px;
  }
}
.page-number{
  position: relative;
}


/**
part 2
 */


.tip-def{
  position: absolute;
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
  width: 180px;
  height: 100px;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
  padding: 10px;
  p{
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .word-content{
    font-size: 14px;
    color: #00caab;
  }
  .play{
    small{
      color: gray;
    }
    span{
      display: inline-block;
      width: 2px;
      height: 4px;
      margin-left: 2px;
      border-right: solid 4px #fff;
      border-bottom: solid 4px transparent;
      border-top: solid 4px transparent;
      &:before{
        display: block;
        content: '';
        width: 2px;
        height: 4px;
        background: #fff;
      }
    }
  }
}
